<template lang="pug">
  .wrap-form
    form(
      @submit="handleSubmit")
      label Selecciona tu ticket
      input(
        ref="file"
        @change="handleFileUpload"
        type="file")
      button(
        type="submit") Subir
      label.error(
        v-if="errorExtensionFile") Extensión no permitida, Solamente se pueden subir imagenes con las extensiones png, jpg o jpeg.
      label.error(
        v-if="errorEmptyFile") Debes de seleccionar un archivo.
    .response(
      v-if="showResponse") {{ response }}
</template>

<script>
import OCRService from '@/services/OCRService'

export default {
  name: 'Form',

  data() {
    return {
      file: '',
      fileName: '',
      errorExtensionFile: false,
      response: {},
      showResponse: false,
      errorEmptyFile: false,
    };
  },

  methods: {
    handleFileUpload(event) {
      this.fileName = event.target.files[0].name;
      this.file = this.$refs.file.files[0];
    },
    
    handleSubmit(event) {
      event.preventDefault();

      if (this.file === '') {
        this.errorEmptyFile = true;
        return;
      }
      this.errorEmptyFile = false;
      
      this.checkFileExtension();
      if (this.errorExtensionFile) return;
      this.errorExtensionFile = false;

      this.parseImage();
    },

    checkFileExtension() {
      let fileExtension = this.fileName.split('.')[1];
      const isNotAllowedExtension = !(/(jpe?g|png)$/i).test(fileExtension);
      this.errorExtensionFile = isNotAllowedExtension;
    },

    parseImage() {
      let formData = new FormData();
      formData.append('file', this.file, this.fileName);

      OCRService.parseImage(formData)
        .then(response => {
          this.response = response.data;
          this.showResponse = true;
        })
        .catch(err => {
          console.error(err);
        });
    },
  },
}
</script>

<style scoped lang="sass">
.wrap-form
  display: grid
  grid-gap: 10px
form, .response
  background: #e8edf4
  width: 500px
  max-width: 95%
  padding: 25px
  border-radius: 10px
  margin: 0 auto
  display: grid
  grid-gap: 10px
  justify-items: center
.response
  word-break: break-word
.wrapper
  display: flex
  align-items: start
  flex-direction: column

label
  color: #2b2d42
  font-size: 1.1em
.error
  color: #ef233c

button
  width: 100px
  height: 35px
  background: #2a9d8f
  border: 0px
  border-radius: 5px
  color: white
  cursor: pointer
</style>
