<template lang="pug">
  #app
    Form
</template>

<script>

export default {
  name: 'App',
  components: {
    Form: () => import(/* webpackChunkName: "form" */ './components/Form'),
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
